@charset"UTF-8";

/*  TYPICAL DEVICE BreakPoints */
/*--------------------------------------
Telas Pequenas: até 600px
Celulares:      de  600px até 768px 
Tablet:         de  768px até 992px
Desktop:        de  992px até 1200px
Grandes telas:  acima de 1200px

OBS: SEMPRE BUSCAR NA INTERNET POR ATUALIZAÇÃO.
*/

@media screen and (min-width:768px){
    #burger{
        display: none;
    }  
    
    menu {
        display: block;
    }

    menu li{
        display: inline-block;

    }

    main{
        width: 768px;
    }
}