@charset"UTF-8";

div.container{
            display: grid;
            grid-template: repeat(3, 100px) / repeat(5, 1fr);
            border: dashed 1px black;
            gap: 3px;
            padding: 5px;
        }

        div.caixa1{
           display: grid;
           background-color: red;
           justify-items: center;
           /* grid-column-start: 1;
           grid-column-end: 6; */

           grid-column: 1/-1;    /*simplicando*/  
        }

        div.caixa2{
            display: grid;
            background-color: green;
            justify-items: center;
            /* grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2; 
            grid-row-end: 4; */
            
            grid-column: 1/span 2;  /*simplicando*/ 
            grid-row: 2/4;
        }

        div.caixa3{
            display: grid;
            background-color: blue;
            justify-items: center;
            /* grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 2; 
            grid-row-end: 4;   */
            
            grid-column: 4/span 5 ; /*simplicando*/ 
            grid-row: 2/4 ;
        }